# Do not commit output files
*.dat
*.xyz
*.out
*.bson
*.xtc
*.pdb
*.txt

# Do not commit svg
*.svg

# Do not commit jupyter notebooks
*.ipynb

# Do not commit VS Code Folder
.vscode/

# Do not commit run scripts
*.sh
*.ps1
*.run

# Do not commit DS store for Mac OS
.DS_Store
